PYTHON_VERSION=

# Base de Datos PostgreSQL
DATABASE_URL=postgresql://usuario:password@localhost:5432/micasita_db

# JWT Auth
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# Cloudinary (imágenes)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# SendGrid (emails)
SENDGRID_API_KEY=
SENDGRID_EMAIL_SENDER=

TOMTOM_API_KEY=

# Tipo de cambio USD → PEN
USD_TO_PEN=3.75
